@{ var user = Session["user"] as CosmeticsStore.Models.Customer; }
@model CosmeticsStore.Models.Review

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="productDes__ratting">
        <div class="productDes__ratting-title ">Đánh giá của bạn</div>
        <div class="productDes__ratting-wrap">
            <div id="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="Awesome - 5 stars"></label>

                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

                <input type="radio" id="star4" name="rating" value="4" />
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

                <input type="radio" id="star3" name="rating" value="3" />
                <label class="full" for="star3" title="Meh - 3 stars"></label>

                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

                <input type="radio" id="star2" name="rating" value="2" />
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

                <input type="radio" id="star1" name="rating" value="1" />
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>

                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </div>
            @*  @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })*@

            @Html.HiddenFor(model => model.CusomerID, new { Value = user.CustomerID })
            @Html.HiddenFor(model => model.ProductID, new { @class = "form-control" })
            <textarea class="ratecomment" name="Content" id="Content" cols="30" rows="1" placeholder="Vui lòng viết đánh giá của bạn "></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

        </div>
        <input type="submit" class="btn btn--default" value="Đánh giá">
    </div>
}

