@model IEnumerable<CosmeticsStore.Models.Order>

@{
    ViewBag.Title = "Đơn hàng hoàn thành";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-2 text-gray-800">Danh sách đơn hàng hoàn thành</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Paid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cancelled)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                @item.OrderDate.Value.ToString("hh:mm - dd /MM/yyyy")
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <span>Đã giao</span>
                                }
                                else
                                {
                                    <span>Chưa giao</span>
                                }
                            </td>
                            <td>
                                @if (item.DeliveryDate != null)
                                {
                                    @item.DeliveryDate.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @if (item.Paid == true)
                                {
                                    <span>Đã thanh toán</span>
                                }
                                else
                                {
                                    <span>Chưa thanh toán</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @if (item.Cancelled == true)
                                {
                                    <span>Đã hủy</span>
                                }
                                else
                                {
                                    <span>Chưa hủy</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
